In [1]:
import pandas as pd
from endpoints import *

In [2]:
crypto_ids = ['bitcoin',
 'dash',
 'decred',
 'dero',
 'grin',
 'monero',
 'pirate-chain',
 'secret',
 'verge',
 'zcash',
 'zencash']

In [3]:
market_chart_dict = get_market_chart_max(crypto_ids)

In [4]:
for key, df in market_chart_dict.items():
    filename = f"{key}.csv"  
    df.to_csv(filename, index=False)
    print(f"Exported DataFrame '{key}' to {filename}")

Exported DataFrame 'df_bitcoin_max' to df_bitcoin_max.csv
Exported DataFrame 'df_dash_max' to df_dash_max.csv
Exported DataFrame 'df_decred_max' to df_decred_max.csv
Exported DataFrame 'df_dero_max' to df_dero_max.csv
Exported DataFrame 'df_grin_max' to df_grin_max.csv
Exported DataFrame 'df_monero_max' to df_monero_max.csv
Exported DataFrame 'df_pirate_chain_max' to df_pirate_chain_max.csv
Exported DataFrame 'df_secret_max' to df_secret_max.csv
Exported DataFrame 'df_verge_max' to df_verge_max.csv
Exported DataFrame 'df_zcash_max' to df_zcash_max.csv
Exported DataFrame 'df_zencash_max' to df_zencash_max.csv

In [5]:
ohlc_dictionary = get_OHLC(crypto_ids)

In [6]:
# Loop through each DataFrame in the dictionary
for df_name, df in ohlc_dictionary.items():
    # Calculate True Range (TR) for each row
    df['high_low'] = df['high'] - df['low']
    df['high_close_prev'] = abs(df['high'] - df['close'].shift(1))
    df['low_close_prev'] = abs(df['low'] - df['close'].shift(1))
    df['true_range'] = df[['high_low', 'high_close_prev', 'low_close_prev']].max(axis=1)
    
    # Remove intermediate columns used for calculation
    df.drop(['high_low', 'high_close_prev', 'low_close_prev'], axis=1, inplace=True)

In [7]:
ohlc_dictionary['df_grin_ohlc'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 437 entries, 0 to 436
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        437 non-null    datetime64[ns]
 1   open        437 non-null    float64
 2   high        437 non-null    float64
 3   low         437 non-null    float64
 4   close       437 non-null    float64
 5   true_range  437 non-null    float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 20.6 KB

In [6]:
ohlc_dictionary['df_grin_ohlc']

          date       open       high       low     close  true_range
0   2019-01-19  25.090000  25.090000  6.740000  6.740000   18.350000
1   2019-01-23   3.340000   4.720000  2.540000  4.580000    4.200000
2   2019-01-27   4.000000   8.950000  4.000000  8.950000    4.950000
3   2019-01-31  13.700000  13.700000  6.860000  6.860000    6.840000
4   2019-02-03   5.520000   6.310000  5.520000  6.110000    1.340000
..         ...        ...        ...       ...       ...         ...
432 2023-08-03   0.030752   0.032070  0.030494  0.032070    0.001576
433 2023-08-07   0.029703   0.030332  0.028273  0.028273    0.003797
434 2023-08-11   0.028465   0.038851  0.028465  0.037427    0.010578
435 2023-08-15   0.031990   0.041565  0.031990  0.038379    0.009575
436 2023-08-19   0.035227   0.035227  0.035227  0.035227    0.003152

[437 rows x 6 columns]

In [8]:
for key, df in ohlc_dictionary.items():
    filename = f"{key}.csv"  
    df.to_csv(filename, index=False)
    print(f"Exported DataFrame '{key}' to {filename}")

Exported DataFrame 'df_bitcoin_ohlc' to df_bitcoin_ohlc.csv
Exported DataFrame 'df_dash_ohlc' to df_dash_ohlc.csv
Exported DataFrame 'df_decred_ohlc' to df_decred_ohlc.csv
Exported DataFrame 'df_dero_ohlc' to df_dero_ohlc.csv
Exported DataFrame 'df_grin_ohlc' to df_grin_ohlc.csv
Exported DataFrame 'df_monero_ohlc' to df_monero_ohlc.csv
Exported DataFrame 'df_pirate_chain_ohlc' to df_pirate_chain_ohlc.csv
Exported DataFrame 'df_secret_ohlc' to df_secret_ohlc.csv
Exported DataFrame 'df_verge_ohlc' to df_verge_ohlc.csv
Exported DataFrame 'df_zcash_ohlc' to df_zcash_ohlc.csv
Exported DataFrame 'df_zencash_ohlc' to df_zencash_ohlc.csv